@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');

:root {
    --font-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --font-body-size: 1.3rem;
    --hamburger-gap: 0.3rem;
    --font-body-weight: 300;
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    font-size: clamp(1rem, 1vw + 0.25rem, 2rem);
    font-weight: var(--font-body-weight);
}

*, *:before, *:after { 
	box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
html{
    scrollbar-gutter: stable;
}
body {
    min-height: 100dvh;
    /* display: flex;
    flex-direction: column;  */
    /* background-color:antiquewhite; */
}

p{
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}

.footer {
    background-color:#d4af37;
    background-color:#800080;
    color: #eaeaea;
    display: flex;
    /* flex: 1; */
    padding: 0.5rem 0;
    border-top: 3px solid black;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: powderblue;
}

.wrapper{
    /* display: flex;
    flex-direction: column;
    flex-grow: 1; */
    /* flex: 1; */
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* background-color: #d2eaf6; */
    padding-top: 2rem;
}

main {
    padding: 1rem;
    /* margin: 0.7rem 0 0.7rem; */
}

.nav, main{
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}
.active .btn-default{
    color: black;
   border-bottom: 2px solid #d4af37;
   /* background-color:cornflowerblue; */
}

.page-title {
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: 400;
    font-size: 1.75rem;
    color: #BEAC4D;
    color: grey;
}